@import "~theme/buttons";

.rootContainer {
  flex: 1;
  display: flex;
  display: -webkit-flex;
}
.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
.button {
  @extend .primary;
  width: 210px;
}
