@import "~theme/buttons";
@import "~theme/loader";

.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content:  flex-start;
  align-items: center;
  -webkit-align-items: center;
  padding: 20px;

  .header {
    color: $color-grey-02;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  .input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list {
    width: 100%;
    padding-left: 20px;
    color: $color-secondary-navy;
    margin-top: 10px;
    margin-bottom: 25px;
    .bullet {
      color: $color-grey-02;
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

}
