@import "~theme/GlobalButton";

button {
    float: right;
    margin-left: 1.12rem;
}

.passwordInputs {
    label {
        top: 1rem;
    }
    input {
        color: #757575;
    }
}

.emailButton {
    text-transform: capitalize;
    margin: 10px 0px;
}

@media only screen and (min-width : $layout-breakpoint-xs) {
    .passwordInputs {
        label {
            top: 0rem;
            font-size:1.6rem;
        }
    }
}

@media only screen and (min-width : $layout-breakpoint-sm) {
    .passwordInputs {
        label {
            top: 1rem;
            font-size:1.96rem;
        }
    }
}
