@import "~theme/GlobalButton";
@import "~theme/buttons";
@import "~theme/input";

.container {

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: flex-start;
  -webkit-justify-content:  flex-start;

  align-items: center;
  -webkit-align-items: center;

  flex: 1;

  height: 423px;
  overflow: auto;

  .header {
    color: #909091;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .form {
    width: 500px;
  }

  .formDropdown {
    @extend .form;
    div {
      padding-bottom: 4px;
    }
  }

  .formInput {
    @extend .form;
    padding-bottom: 3px;
  }

  .note {
    color: #909091;
    font-size: 14px;
  }
}

.rowButtonsCustom {
  @extend .rowButtons;
  margin-top: 40px;
}

.emailButton {
    margin: 10px 0px;
}

//
// @media only screen and (min-width : $layout-breakpoint-xs) {
//     .passwordInputs {
//         label {
//             top: 0rem;
//             font-size:1.6rem;
//         }
//     }
//     .passwordRecoveryModal {
//         min-width: 80vw;
//     }
// }
//
// @media only screen and (min-width : $layout-breakpoint-sm) {
//     .passwordInputs {
//         label {
//             top: 1rem;
//             font-size:1.96rem;
//         }
//     }
//     .passwordRecoveryModal {
//         min-width: 60vw;
//     }
// }
