@import "~theme/GlobalButton";

.recoveryButtons {
    text-align: center;

    button {
        text-transform: none;
        min-width: 415px;
        display: inline;
        margin-left: 1.12rem;
        text-align: left;

        img {
            height: 1.4rem;
            width: auto;
        }
    }
}



.passwordInputs {
    label {
        top: 1rem;
    }
    input {
        color: #757575;    
    }    
}

.emailButton {
    margin: 10px 0px;
}

@media only screen and (min-width : $layout-breakpoint-xs) {
    .passwordInputs {
        label {
            top: 0rem;
            font-size:1.6rem;
        }
    }
}

@media only screen and (min-width : $layout-breakpoint-sm) {
    .passwordInputs {
        label {
            top: 1rem;
            font-size:1.96rem;
        }
    }
}