@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/mixins";
@import "responsive.scss";
// @import "~react-toolbox/lib/globals";
// @import "~react-toolbox/lib/commons";
// @import "~react-toolbox/lib/button/theme";

//Color Pallete
$color-gradient: linear-gradient(270deg, #0E4B75 0%, #0D2145 100%);
$color-primary-navy: #0D2145; //#2A5799
$color-secondary-navy: #0E4B75; //#4977BB
$color-accent-blue: #0073D9; //#7FC343
$color-accent-orange: #F1AA19; //#F7A623
$color-accent-red: #E85466; //#F03A47
$color-grey-01: #4A5157; //#58595C
$color-grey-02: #87939E; //#909091
$color-grey-03: #D9E3ED; //#D8D6D6
$color-grey-04: #F4F5F6; //#F7F7F7
$color-black: #25292C; //#000000
$color-white: #FFFFFF; //#FFFFFF
$color-mint: #66EDA8;

$color-secondary-navy-dilluted: rgba(14,75,117,0.6);
$color-grey-02-dilluted: rgba(135,147,158,0.6);

// Global
$unit: 1.4rem;
$preferred-font: 'Source Sans Pro', sans-serif;
$color-text: $color-grey-01;
$color-text-secondary: $color-grey-02;

//Input
$input-padding: 1.4 * $unit;
$input-field-font-size: 1.2 * $unit;
$input-label-font-size: $unit;
$input-underline-height: $unit;
$input-text-highlight-color: $color-secondary-navy;
$input-text-error-color: $color-accent-red;
$input-text-label-color: $color-grey-02;
$input-text-bottom-border-color: $color-grey-02 !default;

$dropdown-color-primary: $color-accent-blue !default;
// $dropdown-color-primary-contrast: $color-primary-contrast !default;

//Dialog
$dialog-content-padding: 0;

//CSS Global
p {
  font-size: 16px;
	line-height: 24px;
  color: $color-grey-01;
}

a {
  font-size: 16px;
  color: #007AFF;
}

body {
  font-family: $preferred-font;
  color: $color-grey-01;
}
