.primary {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: $color-secondary-navy;
  color: $color-white;
  font-size: 18px;
  text-align: center;

  cursor: pointer;
  margin: 0px 5px;
}

.primaryMobile {
  @extend .primary;
  font-size: 16px;
  margin: 0px;
  width: 100%;
}

.primary:hover,
.primaryMobile:hover {
  background-color: $color-secondary-navy-dilluted;
}

.primary:active,
.primaryMobile:active {
  background-color: $color-primary-navy;
}

.primaryLoad {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: $color-primary-navy;
  color: $color-white;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  margin: 0px 5px;
}

.primaryLoadMobile {
  @extend .primaryLoad;
  font-size: 16px;
  margin: 0px;
  width: 100%;
}

.secondary {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: $color-grey-02;
  color: $color-white;
  font-size: 18px;
  line-height: 17px;
  text-align: center;

  cursor: pointer;
  margin: 0px 5px;
}

.secondaryMobile {
  @extend .secondary;
  font-size: 16px;
  margin: 0px;
  width: 100%;
}

.secondary:hover,
.secondaryMobile:hover {
  background-color: $color-grey-02-dilluted;
}

.secondary:active,
.secondaryMobile:active {
  background-color: $color-grey-01;
}

.secondaryLoad {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: $color-grey-02-dilluted;
  color: $color-white;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  margin: 0px 5px;
}

.secondaryLoadMobile {
  @extend .secondaryLoad;
  font-size: 16px;
  width: 100%;
}

.link {
  cursor: pointer;
  color: $color-secondary-navy;
  font-size: 16px;
}

.link:hover {
  color: $color-secondary-navy-dilluted;
  text-decoration: none;
}

.link:active {
  text-decoration: none;
  color: #2A5799;;
}

.rowButtons {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.rowButtonsHorizontal {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.rowButtonsMobile {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;

  .secondaryMobile,
  .secondaryLoadMobile {
      margin-right:5px;
  }
}

.rowButtonsHorizontalMobile {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;

  .primaryMobile,
  .primaryLoadMobile,
  .secondaryMobile,
  .secondaryLoadMobile {
      margin:5px 0px;
  }

}
