// Global CSS rules that should only be included once

@import "~react-toolbox/lib/commons.scss";
// @import "~react-toolbox/lib/globals";
// @import "~react-toolbox/lib/button/theme";

p {
  font-size: 16px;
  line-height: 24px;
  color: $color-grey-01;
}

a {
  font-size: 16px;
  color: #007aff;
}

body {
  font-family: $preferred-font;
  color: $color-grey-01;
}
