@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 400px;
  padding: 40px 0px 40px 0px;

  .main {
    margin: 0px 155px;
    .header {
      color: #909091;
      font-size: 24px;
      line-height: 20px;
    }
    .text {
      color: #909091;
      font-size: 16px;
      line-height: 20px;
      margin: 20px 0px 5px 0px;
    }
    .input {
      margin-left: 90px;
      margin-right: 90px;
    }
  }

  .linkRows {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    padding: 5px 0px;
    text-align: center;
    margin: 20px auto;


    .emailLink {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
     	height: 50px;
      width: 320px;
      border-radius: 3px;
      border: none;
      margin: 0px 5px;
      color: #FFFFFF;
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;

      .title {
        flex: 1
      }

      .logo {
        width: 30px;
      }

    }
    .gmail {
      @extend .emailLink;
      background-color: #CF5D46;
    }
    .yahoo {
      @extend .emailLink;
      background-color: #7B0099;
    }
    .hotmail {
      @extend .emailLink;
      background-color: #287CE8;
    }
    .default {
      @extend .emailLink;
      background-color: #C0DEFD;
      color: #58595C;
    }
  }

}
