@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content:  flex-start;
  align-items: center;
  -webkit-align-items: center;

  height: 439px;
  padding: 30px 0px 40px 0px;

  .header {
    color: $color-grey-02;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  form {
    margin-bottom: 35px;
  }

  .form {
    width: 500px;
  }

  .formDropdown {
    @extend .form;
    input {
      color: $color-grey-02;
      font-size: 18px;
    }
    div {
      padding-bottom: 4px;
    }
  }

  .formInput {
    @extend .form;
    input {
      color: $color-grey-02;
      font-size: 18px;
    }
    padding-bottom: 3px;
  }

  .note {
    color: $color-grey-02;
    font-size: 14px;
  }
}
