.exitTooltip {
  position: absolute;
  right: 25px;
  top: 60px;
  cursor: pointer;
  font-weight: 700;
}

.topLevelDialog section {
    padding: 65px 45px 0 45px;
}

.error {
  color: red;
}

.warning {
  color: orange;
}
