@import 'theme/buttons';

.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: stretch;
  -webkit-align-items: stretch;
  .text1Container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    .text1 {
      margin-bottom: 20px;
      a {
        @extend .link;
        font-size: 16px;
      }
    }
  }
  .text2Container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    background: $color-gradient;
    height: 42px;
  }
  .text2 {
    text-align: center;
    font-size: 14px;
    color: $color-white;
    margin: 0px 10px;
    .link {
      @extend .link;
      color: $color-white;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
