@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.rootContainer {
  flex: 1;
  display: flex;
  display: -webkit-flex;
}

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;

  padding-top: 40px;

  .header {
    width: 217.5px;
    color: $color-grey-02;
    font-size: 20px;
    text-align: center;
  }

  .forms {
    width: 300px;
  }

  .usernameForm {
    padding-bottom: 10px;
    width: 300px;
  }

  .cachedUsers {
    width: 100%;
  }

  .userListClassName {
    top: 60px !important;
    max-height: 140px !important;
  }

  .button {
    @extend .primary;
    width: 210px;
  }


  .form {
    margin-bottom: 10px
  }

  .forgotPasswordLink {
    @extend .link;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .createAccountText {
    margin-top: 20px;
  }
}
