@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content:  flex-start;
  align-items: center;
  -webkit-align-items: center;
  padding: 30px 20px;

  .header {
    color: $color-grey-02;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
  }
  .text {
    color: $color-grey-02;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }

  .input {
    width: 100%;
    margin-bottom: 20px;
  }

  .emailLink {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: none;
    margin: 5px 0px;
    color: $color-white;
    font-size: 18px;
    cursor: pointer;
    text-align: center;

    .title {
      flex: 1;
    }

    .titleHotmail {
      flex: 1;
      font-size: 15px;
    }

    .logo {
      width: 30px;
      margin-left:  15px;
      margin-right:  15px;
    }

    .logoHotmail {
      width: 30px;
      margin-left:  15px;
      margin-right:  5px;
    }

    .logoEmail {
      width: 30px;
      margin-left:  15px;
      margin-right:  15px;
    }

    .spacerHotmail {
      width: 20px;
    }

    .spacerEmail {
      width: 30px;
    }
  }
  .gmail {
    @extend .emailLink;
    background-color: #CF5D46;
  }
  .yahoo {
    @extend .emailLink;
    background-color: #7B0099;
  }
  .hotmail {
    @extend .emailLink;
    background-color: #287CE8;
  }
  .default {
    @extend .emailLink;
    background-color: #C0DEFD;
    color: #58595C;
  }
}
