.container {
  padding: 0 $unit * 5;
}

.exitButton {
  position: absolute;
  top: -2px;
  left: -30px;
}

.title {
  text-align: center;
}

.section {
  margin: $unit * 1.8 0;
}

.inputField {
  width: 100%;
}

.usernameText{
  white-space: pre-line;
}

.buttonSection {
  @extend .section;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;

  align-items: center;
  -webkit-align-items: center;

}
