@import "../../../theme/buttons.scss";
@import "../../../theme/input.scss";
@import "../../../theme/loader.scss";

.rootContainer {
  flex: 1;
  display: flex;
  display: -webkit-flex;
}

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;

  padding-top: 20px;

  .header {
    color: $color-grey-01;
    font-size: 16px;
    text-align: center;
  }

  .forms {
    width: 270px;
  }

  .usernameForm {
    width: 270px;
    padding-bottom: 10px;
  }

  .cachedUsers {
    width: 100%;
  }

  .userListClassName {
    top: 60px !important;
    max-height: 140px !important;
  }

  .button {
    @extend .primary;
  }

  .form {
    margin-bottom: 10px;
  }

  .spacer {
    height: 10px;
  }

  .forgotPasswordLink {
    @extend .link;
    margin-bottom: 30px;
  }

  .createAccountText {
    text-align: center;
    font-size: 14px;
    margin-top: 1px;

    .linkText {
      @extend .link;
      font-size: 14px;
    }
  }
}
