@import "~react-toolbox/lib/_colors.scss";
@import "~react-toolbox/lib/_mixins.scss";
@import "./responsive.scss";

//Color Pallete
$color-gradient: linear-gradient(270deg, #0e4b75 0%, #0d2145 100%);
$color-primary-navy: #0d2145; //#2A5799
$color-secondary-navy: #0e4b75; //#4977BB
$color-accent-blue: #0073d9; //#7FC343
$color-accent-orange: #f1aa19; //#F7A623
$color-accent-red: #e85466; //#F03A47
$color-grey-01: #4a5157; //#58595C
$color-grey-02: #87939e; //#909091
$color-grey-03: #d9e3ed; //#D8D6D6
$color-grey-04: #f4f5f6; //#F7F7F7
$color-black: #25292c; //#000000
$color-white: #ffffff; //#FFFFFF
$color-mint: #66eda8;

$color-secondary-navy-dilluted: rgba(14, 75, 117, 0.6);
$color-grey-02-dilluted: rgba(135, 147, 158, 0.6);

// Global
$unit: 1.4rem;
$preferred-font: "Source Sans Pro", sans-serif;
$color-text: $color-grey-01;
$color-text-secondary: $color-grey-02;

//Input
$input-padding: 1.4 * $unit;
$input-field-font-size: 1.2 * $unit;
$input-label-font-size: $unit;
$input-underline-height: $unit;
$input-text-highlight-color: $color-secondary-navy;
$input-text-error-color: $color-accent-red;
$input-text-label-color: $color-grey-02;
$input-text-bottom-border-color: $color-grey-02 !default;

$dropdown-color-primary: $color-accent-blue !default;
// $dropdown-color-primary-contrast: $color-primary-contrast !default;

//Dialog
$dialog-content-padding: 0;
