@import "../../../theme/buttons.scss";

.rootContainer {
  flex: 1;
  display: flex;
  display: -webkit-flex;
}
.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
}
.logoContainer {
  margin: 30px 0px;
  width: 100px;
  height: 70px;

  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.logo {
  max-width: 100px;
  max-height: 70px;
}
.button {
  @extend .primary;
}
.linkSignUp {
  @extend .link;
  font-size: 14px;
}
.accountText {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}
.createAccountButtonContainer {
  margin: 0px 0px 60px 0px;
}
