@import "~theme/buttons";
@import "~theme/input";

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content:  center;
  align-items: center;
  -webkit-align-items: center;

  margin-left: 40px;
  margin-right: 40px;

  .header {
    width: 169px;
    color: $color-primary-navy;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .p1 {
    width: 420px;
    color: $color-grey-01;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center
  }

  .p2 {
    width: 420px;
    color: $color-grey-01;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .p3 {
    width: 420px;
    color: $color-grey-01;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .text {
    margin: 10px 40px;
    color: $color-grey-01;
    font-size: 18px;
    text-align: center;
  }

  .close {
    @extend .primary;
    margin-top: 20px;
  }

  .linked {
    @extend .link;
    font-size: 18px;
  }

  .password {
    @extend .form-group;
    width: 350px;
    margin-top: 40px;
    margin-bottom: 30px;
  }

}
