@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content:  center;
  align-items: center;
  -webkit-align-items: center;
  padding: 30px 20px 30px 20px;

    .requirements {
      .text {
        font-size: 14px;
        line-height: 14px;
        color: $color-grey-02;
        letter-spacing: 0px;
        .bullet {
          font-size: 22px;
          margin: 0px 10px 0px 0px;
        }
        .check {
          color: $color-mint;
          font-size: 13px;

          margin: 2px 7px 0px -3px;
        }
      }

      .textHeader {
        @extend .text;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .crack {
        @extend .text;
        color: #555;
        margin-left: 24px;
        margin-top: 8px;
      }

      .icon {
        @extend .text;
        color: $color-accent-red;
        vertical-align: bottom;
        margin-right: 10px;
      }
    }

    .formContainer {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;

      .formWithIcon {
        flex: 1;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;

        position: relative;

        .form {
          width: 100%;
        }

        .icon {
          position: absolute;
          right: 0px;
          top: 34px;
          cursor: pointer;
        }
      }

      .form {
        font-size: 18px;
      }
  }
}
