.divider {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;

  height: 342px;
  width: 47px;
  margin-top: 40px;

  .line {
    width: 1px;
    border-left: 1px solid $color-grey-03;
    height: 342px;
  }

  .circle {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    position: fixed;

    width: 47px;
    height: 47px;
    border: 1px solid $color-secondary-navy;
    border-radius: 23px;
    background-color: $color-white;

    .or {
      font-size: 22px;
      color: $color-grey-02;
      margin-bottom: 6px;
    }
  }

}
