@import "~theme/buttons";

.header {
	color: $color-grey-01;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.close {
  @extend .primaryMobile;
  width: 80px;
  height: 50px;
  font-size: 14px;
}
