@import "~theme/buttons";
@import "~theme/loader";

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content:  flex-start;
  align-items: center;
  -webkit-align-items: center;
  height: 437px;

  .header{
    color: $color-grey-02;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .p1{
    color: $color-grey-02;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
  }

  .p2 {
    color: $color-grey-02;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .caution {
    color: $color-accent-red;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .input {
    width: 300px;
  }

  .infoBox {
    height: 112px;
    width: 280px;
    border: 1px solid $color-grey-03;
    border-radius: 3px;
    background-color: $color-white;
    margin: 30px 0px;
    cursor: pointer;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;

    .close {
      position: absolute;
      top: 5px;
      right: 5px;
      color: $color-secondary-navy;
      font-size: 17px;
    }
    .infoText {
      flex: 1;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;
      .hidden {
        color: $color-secondary-navy;
        font-size: 16px;
        text-align: center;
      }
      .shown {
        color: $color-grey-01;
        font-size: 16px;
        text-align: center;
        text-overflow: ellipsis;
        .bold {
          font-weight: 700;
        }
      }
    }


  }
}
