@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.header {
  width: 375px;
  color: $color-primary-navy;
  font-size: 24px;
  text-align: center;
  line-height: 29px;
}

.text {
	margin: 10px 40px;
  color: $color-grey-01;
  font-size: 18px;
  text-align: center;
}

.close {
  @extend .primary;
  margin-top: 20px;
}

.linked {
  @extend .link;
  font-size: 18px;
}

.password {
  width: 350px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.customRow {
  @extend .rowButtons;
  width: 360px;
}
