@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.header {
  color: $color-primary-navy;
  font-size: 16px;
  text-align: center;
}

.text {
	margin: 10px 40px;
  color: $color-grey-01;
  font-size: 18px;
  text-align: center;
}

.password {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 25px;
}

.customRow {
  @extend .rowButtons;
  width: 100%;
}
