.containerBody {
  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;

  align-items: center;
  -webkit-align-items: center;
}

.exitButton {
  font-size: $unit * 2.2;
  position: absolute;
  top: 8px;
  left: 0;
}

.title {
  text-align: center;
}

.section {
  margin: $unit * 1.8 0;
}

.inputPasswordFieldDiv {
  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  justify-content: flex-start;
  -webkit-justify-content: flex-start;

  align-items: center;
  -webkit-align-items: center;

  .inputPasswordField {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .inputPasswordFieldImg {
    width: 30px;
    margin: 0px 15px;
    cursor: pointer;
  }

}


.text{
  white-space: pre-line;
}

.buttonSection {
  @extend .section;

  // display: flex;
  // display: -webkit-flex;
  //
  // flex-direction: column;
  // -webkit-flex-direction: column;
  //
  // justify-content: center;
  // -webkit-justify-content: center;
  //
  // align-items: center;
  // -webkit-align-items: center;
  //
}

.inputDiv {
  width: 200px;
}
