@import "~theme/SignUpStyle";

.passwordRequirement {
  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  align-items: center;
  -webkit-align-items: center;

  font-size: 14px;
  margin: 0px 0px;
}

.red {
  color: #B33A3A;
  font-weight: 700 !important;
}

.green {
  color: #80C342;
  font-weight: 700 !important;
}

.inputPasswordFieldDiv {
  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  justify-content: flex-start;
  -webkit-justify-content: flex-start;

  align-items: center;
  -webkit-align-items: center;

  .inputPasswordField {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  .inputPasswordFieldImg {
    font-size: 3 * $unit;
    color: #007AFF;
    width: 30px;
    margin: 0px 15px;
    cursor: pointer;
  }

}

.buttonSection {
  .skip {
    width: 50%;
  }
}
