@import "~theme/buttons";
@import "~theme/input";

.container {
  flex: 1;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: flex-start;
  -webkit-justify-content: flex-start;

  align-items: center;
  -webkit-align-items: center;


  padding-top: 40px;

  .header {
    width: 217.5px;
    color: #909091;
    font-size: 20px;
    text-align: center;
  }


}

.button {
  @extend .primary;
  width: 210px;
}
