@import "~react-toolbox/lib/colors";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$dialog-content-padding: 0;
$input-padding: 0;
$input-field-font-size: 1rem;
$card-font-size: 1rem;
$button-squared-min-width: 44;
$preferred-font: 'Lato', sans-serif;

* {
  font-family: 'Lato', sans-serif;
}