@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/mixins";
@import "~react-toolbox/lib/button/theme";

// Global CSS
$unit: 1.4rem;
$preferred-font: 'Lato', sans-serif;

//Color Pallete CSS
$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;


//Input
$input-padding: 1.2 * $unit !default;
$input-field-font-size: 1.3 * $unit !default;
// $dialog-content-padding: 2rem 2.4rem;
// $card-font-size: 1rem;
// $button-squared-min-width: 44;

//Buttons
// $button-toggle-font-size: $unit * 0 !default;
// $button-floating-font-size: $unit * 0 !default;

//Fonts Mixins

p {
  font-size: $unit * 1.4;
  line-height: $unit * 1.8;
}
