.primary {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: #4977BB;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 17px;
  text-align: center;

  cursor: pointer;
}

.primary:hover {
  background-color: rgba(73,119,187,0.6);
}

.primary:active {
  background-color: #2A5799;
}

.secondary {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: #909091;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 17px;
  text-align: center;

  cursor: pointer;
}

.secondary:hover {
  background-color: rgba(144,144,145,0.6);
}

.secondary:active {
  background-color: #58595C;
}

.link {
  cursor: pointer;
  color: #4977BB;
  font-size: 16px;
}

.link:hover {
  color: rgba(73,119,187,0.6);
  text-decoration: none;
}

.link:active {
  text-decoration: none;
  color: #2A5799;;
}
