.primary {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: #4977BB;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;

  cursor: pointer;
  margin: 0px 5px;
}

.primaryMobile {
  @extend .primary;
  font-size: 16px;
  margin: 0px;
  width: 100%;
}

.primary:hover,
.primaryMobile:hover {
  background-color: rgba(73,119,187,0.6);
}

.primary:active,
.primaryMobile:active {
  background-color: #2A5799;
}

.primaryLoad {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: #2A5799;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  margin: 0px 5px;
}

.primaryLoadMobile {
  @extend .primaryLoad;
  font-size: 16px;
  margin: 0px;
  width: 100%;
}

.secondary {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: #909091;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 17px;
  text-align: center;

  cursor: pointer;
  margin: 0px 5px;
}

.secondaryMobile {
  @extend .secondary;
  font-size: 16px;
  margin: 0px 5px 0px 0px;
  width: 100%;
}

.secondary:hover,
.secondaryMobile:hover {
  background-color: rgba(144,144,145,0.6);
}

.secondary:active,
.secondaryMobile:active {
  background-color: #58595C;
}

.secondaryLoad {
	height: 50px;
  width: 200px;
  border-radius: 3px;
  border-style: none;
  background-color: rgba(144,144,145,0.6);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  margin: 0px 5px;
}

.secondaryLoadMobile {
  @extend .secondaryLoad;
  font-size: 16px;
  margin: 0px 5px 0px 0px;
  width: 100%;
}

.link {
  cursor: pointer;
  color: #4977BB;
  font-size: 16px;
}

.link:hover {
  color: rgba(73,119,187,0.6);
  text-decoration: none;
}

.link:active {
  text-decoration: none;
  color: #2A5799;;
}

.rowButtons {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}

.rowButtonsHorizontal {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
