
$break-xxs: 320px;
$break-xs: 480px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;

/* Custom, iPhone Retina */ 
@media only screen and (min-width : $break-xxs) {
    header {
      padding: 0 8px;
      nav {
        a {
            font-size: 1.6rem;
        }
      }
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : $break-xs) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : $break-sm) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : $break-md) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $break-lg) {

}