.container {
  width: 280px;
  border-radius: 3px;
  background-color: $color-white;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);

  section {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
  }

  .circle {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    position: absolute;
    width: 48px;
    height: 48px;
    border-color: $color-secondary-navy;
    border-width: 3px;
    border-style: solid;
    border-radius: 24px;
    background-color: $color-white;
    top: -24px;
    z-index: 5;
  }

  .main {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    padding: 37px 20px;
  }

}

