@import "~theme/buttons";

.header {
  color: $color-primary-navy;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.text {
	margin: 10px 40px 30px 40px;
  color: $color-grey-01;
  font-size: 18px;
  text-align: center;
}

.cancel {
  margin-top: 30px;
  text-align: center;
 	color: $color-grey-01;
  font-size: 18px;
  line-height: 26px;
}

.close {
  @extend .primary;
  margin-top: 20px;
}

.linked {
  @extend .link;
  font-size: 18px;
}
