@import "~theme/buttons";

.header {
  color: $color-primary-navy;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
  line-height: 18px;
}

.text {
  margin-top: 5px;
  margin-bottom: 20px;
  color: $color-grey-01;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
}

.cancel {
  margin-top: 20px;
  margin-bottom: 10px;
 	color: $color-grey-01;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.linked {
  @extend .link;
  font-size: 14px;
}
