@import 'theme/_config.scss';

.container{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    height: 86px;
    padding: 0 0.6rem;
    font-size: 1.0rem;
    background: $color-gradient;
    .text {
      opacity: 0.6;
      color: $color-white;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      line-height: 16px;
    }

    .icon {
      max-width: 35px;
      max-height: 35px;
    }
}
