@import './LayoutHeaders.scss';
@import './GlobalDefaults.scss';
@import './GlobalInputs.scss';
@import './GlobalLoader.scss';

.rootContainer {
  .container {
    .subHeaderText {
      margin-top: 15px;
      text-align: center;
    }

    .loaderContainer {
      flex: 1;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;

      text-align: center;
    }

    .form {
      margin: 10px 0px;
      width: 100%;

      .formGroup {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        align-items: center;
        -webkit-align-items: center;

        position: relative;
        margin: 8px 0px;

        .questionInput {
          text-overflow: ellipsis;
          cursor: pointer;
          padding-right: 25px;
        }

        .caret {
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          -webkit-flex-direction: column;
          justify-content: flex-start;
          -webkit-justify-content: center;
          align-items: center;
          -webkit-align-items: center;

          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 40px;
          height: 30px;

          .icon {
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid $color-grey-01;
          }
        }

        .caret:hover {
          cursor: pointer;

          .icon {
            border-top-color: $color-secondary-navy;
          }
        }

        .caret:hover > .icon {
          border-top-color: $color-primary-navy;
        }
      }
    }

    .formGroupDropdown {
      @extend .formGroup;
      height: 225px;
    }

    .text {
      margin: 25px 10% 0px 10%;
      text-align: center;
    }
  }
}
