@import './GlobalDefaults.scss';
@import './GlobalButtons.scss';
@import './GlobalLoader.scss';
@import './LayoutHeaders.scss';

.rootContainer {
  .container {
    margin-top: 10px;

    .form {
      width: 100%;

      .exitPin {
        @extend .link;
        margin-top: 10px;
        font-size: 12px;
        font-weight: normal;
      }

      .formGroup {
        width: 100%;
        position: relative;
        margin-top: 13px;

        .label {
          width: 100%;
          font-size: 11px;
          color: $color-tertiary-navy;
          margin-bottom: 1px;
        }

        input {
          cursor: pointer;
        }

        .caret {
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          -webkit-flex-direction: column;
          justify-content: flex-start;
          -webkit-justify-content: center;
          align-items: center;
          -webkit-align-items: center;

          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 40px;
          height: 30px;
          z-index: 100;

          .icon {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $color-grey-01;
          }
        }

        .caret:hover {
          cursor: pointer;

          .icon {
            border-top-color: $color-secondary-navy;
          }
        }

        .caret:hover > .icon {
          border-top-color: $color-primary-navy;
        }
      }

      .formGroupPin {
        @extend .formGroup;
        width: auto;
        margin-top: 23px;

        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;

        .pin {
          width: 0px;
          height: 0px;
          border: none;
        }

        .pinContainer {
          display: flex;
          display: -webkit-flex;
          flex-direction: row;
          -webkit-flex-direction: row;
          justify-content: center;
          -webkit-justify-content: center;
          align-items: center;
          -webkit-align-items: center;

          .pinCircle {
            width: 22px;
            height: 22px;
            border: 1px solid $color-secondary-navy;
            border-radius: 12px;
            margin: 0px 5px;
          }

          .pinCircle:first-child {
            margin-left: 0px;
          }

          .pinCircle:last-child {
            margin-right: 0px;
          }

          .pinShade {
            @extend .pinCircle;
            background-color: $color-tertiary-navy;
          }

          @keyframes shadow-pulse
          {
            0% {
              box-shadow: 0 0 0 0px rgba(14, 75, 117, 0.8);
            }
            100% {
              box-shadow: 0 0 0 5px rgba(14, 75, 117, 0);
            }
          }

          .pinGreen {
            @extend .pinCircle;
            animation: shadow-pulse 1s infinite;
          }
        }
      }

      .formGroup:hover {
        cursor: pointer;
      }
    }

    .loader {
      margin-top: 35px;
    }
  }
}
