@import './GlobalDefaults.scss';
@import './GlobalButtons.scss';
@import './GlobalLoader.scss';
@import './LayoutHeaders.scss';

.rootContainer {
  .container {
    margin-top: 25px;

    .form {
      width: 100%;
      height: 180px;

      .formGroup {
        width: 100%;
        position: relative;
        margin-top: 13px;

        .label {
          width: 100%;
          font-size: 11px;
          color: $color-tertiary-navy;
          margin-bottom: 1px;
        }

        .caret {
          display: flex;
          display: -webkit-flex;
          flex-direction: column;
          -webkit-flex-direction: column;
          justify-content: flex-start;
          -webkit-justify-content: center;
          align-items: center;
          -webkit-align-items: center;

          position: absolute;
          bottom: 0px;
          right: 0px;
          width: 40px;
          height: 30px;
          z-index: 100;

          .icon {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $color-grey-01;
          }
        }

        .caret:hover {
          cursor: pointer;

          .icon {
            border-top-color: $color-secondary-navy;
          }
        }

        .caret:hover > .icon {
          border-top-color: $color-primary-navy;
        }
      }
    }

    .forgotPasswordLink {
      @extend .link;
      margin-top: 10px;
      font-weight: 400;
    }
  }
}
