@import './LayoutHeaders.scss';
@import './GlobalDefaults.scss';

.container {

  .subHeaderText {
    font-size: 12px;
    line-height: 1.40;
    text-align: center;
    margin-bottom: 40px;
  }

  .formGroup {
    width: 100%;
  }

}
