@import './LayoutHeaders.scss';
@import './GlobalDefaults.scss';
@import './GlobalButtons.scss';

.container {

  .siteLink {
    @extend .link;
    line-height: 1.36;
    font-size: 12px;
    font-weight: normal;
  }

  .text1 {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.36;
    text-align: center;
  }

}
