@import './LayoutHeaders.scss';
@import './GlobalDefaults.scss';
@import './GlobalButtons.scss';

.container {
  .text1 {
    margin-top: 20px;
    margin-bottom: 8px;
    line-height: 1.2;
    text-align: center;
  }
  .text2 {
    margin-top: 8px;
    margin-bottom: 5px;
    line-height: 1.2;
    text-align: center;
  }
  .text3 {
    @extend .link;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
}
