@import './LayoutHeaders.scss';
@import './GlobalDefaults.scss';
@import './GlobalInputs.scss';

.rootContainer {
  .container {
    margin-top: 10px;

    .form {
      width: 100%;
      margin: 7px 0px;
    }
  }
}
