.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content:  flex-start;
  padding: 20px 20px 30px 20px;

  .header {
    color: $color-grey-02;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
  }

  .accountName {
    color: $color-grey-02;
    font-size: 24px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .square {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    height: 66px;
    width: 100%;
    border: 1px solid $color-grey-03;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;

    a:hover {
      text-decoration: none !important;
    }

    .label {
      margin-top: 3px;
      color: $color-secondary-navy;
      font-size: 16px;
      text-align: center;
    }
  }

  .square:active {
    border: 1px solid #4977BB;
    background-color: rgba(14,75,117,0.1);
  }
}
