.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content:  flex-start;

  height: 303px;

  .header {
    color: $color-grey-02;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

    .heavy {
      font-weight: 600;
    }
  }

  .main {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    .square {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: center;
      -webkit-justify-content: center;
      align-items: center;
      -webkit-align-items: center;

      margin: 0px 15px;
      height: 160px;
      width: 160px;
      border: 1px solid #D8D6D6;
      border-radius: 3px;
      cursor: pointer;

      a:hover {
          text-decoration: none !important;
      }

      .label {
        color: $color-secondary-navy;
        font-size: 16px;
        text-align: center;
      }
    }

    .square:active {
      border: 1px solid #4977BB;
      background-color: rgba(14,75,117,0.1);
    }
  }
}
