@import "~theme/buttons";

.header {
  color: #2A5799;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.text {
  color: #58595C;
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;

  .heavy {
    font-weight: 700;
  }
}
