@import "~react-toolbox/lib/dropdown/theme.scss";

.userList {
  padding: 0;
}

.cachedDropdownList {

  max-width: inherit;

  span {
    &.useritem {
      word-wrap: break-word;
      overflow-x: auto;
      display: inline;
      width: calc(70% - 52px);
    }

    &.material-icons {
      float: right;
    }
  }
}

.userrows {
  display: flex;
  display: -webkit-flex;
}

.useritem {
  display: flex;
  display: -webkit-flex;

  align-items: center;
  -webkit-align-items: center;

  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;

  z-index: 5;
  padding: $unit;

}

.useritemSelected {
  font-weight: 700;
  color: #007AFF;
}

.userdelete {
  display: flex;
  display: -webkit-flex;

  align-items: center;
  -webkit-align-items: center;

   z-index: 5;
   padding: $unit;
   float: right;
}

.userdelete:hover {
  color: #B33A3A;
}


@media only screen and (min-width : $layout-breakpoint-xs) {
  .dropdown {
    width: 100%;
  }
}

@media only screen and (min-width : $layout-breakpoint-sm) {
  .dropdown {
    width: auto;
  }
}