@import "~theme/buttons";

.header {
  color: #2A5799;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.text {
	margin: 10px 40px;
  color: #58595C;
  font-size: 18px;
  text-align: center;
}

.close {
  @extend .primary;
  margin-top: 20px;
}

.linked {
  @extend .link;
  font-size: 18px;
}
