@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content:  center;
  align-items: center;
  -webkit-align-items: center;
  padding: 20px 20px 30px 20px;

  .header {
    color: $color-grey-02;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .description {
    color: $color-grey-02;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #979797;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .requirements {
    margin-top: 20px;
    .text {
      font-size: 14px;
      line-height: 14px;
      color: $color-grey-02;
      margin-bottom: 4px;
      .bullet {
        font-size: 22px;
        color: $color-grey-03;
        margin: 0px 10px 0px 0px;
      }
      .check {
        color: $color-mint;
        font-size: 13px;
        margin: 2px 7px 0px -3px;
      }
    }

    .textHeader {
      @extend .text;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .crack {
      @extend .text;
      color: #555;
      margin-left: 24px;
      margin-top: 8px;
    }

    .icon {
      @extend .text;
      color: #F03A47;
      vertical-align: bottom;
      margin-right: 10px;
    }

  }

    .formContainer {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;

      .formWithIcon {
        flex: 1;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;

        position: relative;

        .form {
          width: 100%;
        }

        .icon {
          position: absolute;
          right: 0px;
          top: 34px;
          cursor: pointer;
        }
      }

      .form {
        font-size: 18px;
      }

  }
}
