@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";


.container {
  flex: 1;
  height: 437px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content:  flex-start;
  align-items: strentch;
  -webkit-align-items: strentch;

  .header {
    color: $color-grey-02;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .hint {
    color: $color-grey-02;
    font-size: 16px;
    text-align: center;
  }

  .main {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content:  center;
    align-items: center;
    -webkit-align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;


    .tooltip {
      flex: 1;
      height: 165px;
      width: 286.86px;
      border: 1px solid $color-grey-03;
      border-radius: 3px;
      background-color: $color-white;
      box-shadow: 0 0 10px 0 $color-grey-03;
      margin: 0px 19px 0px 131px;

      padding: 15px;

      .text {
        font-size: 14px;
        line-height: 16px;
        color: $color-grey-02;

        .bullet {
          font-size: 22px;
          color: $color-grey-03;
          margin: 0px 10px;
        }

        .check {
          color: $color-mint;
          font-size: 13px;
          margin: 3px 6.9px;
        }
      }

      .textHeader {
        @extend .text;
        font-weight: bold;
        margin-bottom: 8px;
      }

      .crack {
        @extend .text;
        color: #555;
        margin-left: 24px;
        margin-top: 8px;
      }

      .icon {
        @extend .text;
        color: $color-accent-red;
        vertical-align: bottom;
        margin-right: 10px;
      }
    }

    .formContainer {
      flex: 1;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: flex-start;
      -webkit-justify-content:  flex-start;
      align-items: stretch;
      -webkit-align-items: stretch;

      width: 100%;

      margin: 0px 131px 0px 11px;

      .formWithIcon {
        flex: 1;

        display: flex;
        display: -webkit-flex;

        flex-direction: row;
        -webkit-flex-direction: row;

        position: relative;

        .form {
          width: 100%;
        }

        .icon {
          position: absolute;
          right: 0px;
          top: 34px;
          cursor: pointer;
        }
      }

      .form {
        font-size: 18px;
      }
    }

  }
}
