@import "~theme/buttons";

.header {
  color: $color-primary-navy;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.text {
  color: $color-grey-01;
  font-size: 14px;
  text-align: center;
}

.heavy {
  @extend .text;
  font-weight: 700
}

.customButtons {
  @extend .rowButtonsMobile;
  margin-top: 20px;
}
