.dialogZIndex {
  z-index: 2;
  width: 35vw; 

  & > section {
    padding: 1.68rem 2.8rem; 
  }

  font-size: 1.48rem;
  line-height: 2rem;
}

.container {
  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;

  align-items: center;
  -webkit-align-items: center;

  padding: $unit *1;
  
  p {
    text-align: center;
  }  
}

.button {
  width: 50%;
}
