@import 'theme/_config.scss';

.container{
    height: 86px;
    padding: 0 0.6rem;
    font-size: 1.0rem;
    background: linear-gradient(90deg, rgba(59,122,218,0.98) 0%, #2B5698 100%);

    display: flex;
    display: -webkit-flex;

    flex-direction: row;
    -webkit-flex-direction: row;

    justify-content: center;
    -webkit-justify-content: center;

    align-items: center;
    -webkit-align-items: center;

    .text {
      opacity: 0.6;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : $layout-breakpoint-xs) {
    .appBar {
        font-size: 1.4rem;
        padding: 0 1.0rem;
        .navigation {
            a {
                font-size: 1.6rem;
            }
        }

    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : $layout-breakpoint-sm) {
    .appBar {
        .navigation {
            a {
                font-size: 1.96rem;
            }
        }

    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $layout-breakpoint-md) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $layout-breakpoint-lg) {

}
