@import 'theme/_config.scss';

.appBar{
    height: 4.5rem;
    padding: 0 0.6rem;
    font-size: 1.0rem;

    .navigation {
        width: 100%;

        .headerAppName {
            float: left;
            color: white;
            text-decoration: none;
            cursor: default;
            &:hover {
                text-decoration: none;
            }    
        }

        .headerPoweredAirBitz {
            float: right;
            color: white;
            cursor: default;    

            &:hover {
                text-decoration: none;
            }

        }        
    }    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : $layout-breakpoint-xs) {
    .appBar {
        font-size: 1.4rem;
        padding: 0 1.0rem;
        .navigation {
            a {
                font-size: 1.6rem;
            }
        }

    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : $layout-breakpoint-sm) {
    .appBar {
        .navigation {
            a {
                font-size: 1.96rem;
            }
        }

    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : $layout-breakpoint-md) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $layout-breakpoint-lg) {

}