@import 'theme/_config.scss';
@import 'theme/buttons';

.container {

	  height: 42px;

    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;

    justify-content: center;
    -webkit-justify-content: center;

    align-items: stretch;
    -webkit-align-items: stretch;

    .main {

      flex: 1;

      background: linear-gradient(90deg, rgba(59,122,218,0.98) 0%, #2B5698 100%);

      display: flex;
      display: -webkit-flex;

      flex-direction: row;
      -webkit-flex-direction: row;

      justify-content: center;
      -webkit-justify-content: center;

      align-items: center;
      -webkit-align-items: center;

      .text {
        text-align: center;
        font-size: 14px;
        color: #FFFFFF;

        .link {
          @extend .link;
          color: #FFFFFF;
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
        }
      }

    }
}
