@import "~theme/SignUpStyle";
@import "~theme/buttons";
@import "~theme/loader";

.container {

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: flex-start;
  -webkit-justify-content:  flex-start;

  align-items: center;
  -webkit-align-items: center;

  flex: 1;
  height: 437px;

  .header{
    color: #909091;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .p1{
    color: #909091;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
  }

  .p2 {
    color: #909091;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .caution {
    color: #F03A47;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .input {
    width: 300px;
  }

  .infoBox {
    height: 112px;
    width: 280px;
    border: 1px solid #D8D6D6;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin: 30px 0px;
    cursor: pointer;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    .hidden {
      color: #4977BB;
      font-size: 16px;
      text-align: center;
    }

    .shown {
      color: #58595C;
      font-size: 16px;
      text-align: center;
      line-height: 24px;
      .bold {
        font-weight: 700;
      }
    }
  }
}

.paragraph1 {
  font-size: $unit * 1.5;
}

.paragraph2 {
  font-size: $unit * 1.5;
  color: #b33a3a;
}

.credentials {
  font-size: $unit * 1.5;
  text-align: center;
}

.section {
  margin: $unit * 1.8 0;
}

.warningSection {
  @extend .section;
  text-align: center;
}


.buttonSection {
  @extend .section;
  @extend .container;

  width: 100%;

  .button {
    margin: $unit 0;
    text-transform: none;
  }

  .buttonShow {
    @extend .button;
    border: 1px solid #007AFF;
    color: #007AFF !important;
  }

}
