@import "../../../theme/buttons.scss";
@import "../../../theme/input.scss";
@import "../../../theme/loader.scss";

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 400px;
  padding: 40px 0px 40px 0px;

  .main {
    margin: 0px 155px 15px 155px;
    .header {
      color: $color-grey-02;
      font-size: 24px;
      line-height: 20px;
    }
    .text {
      color: $color-grey-02;
      font-size: 16px;
      line-height: 20px;
      margin: 20px 0px 5px 0px;
    }
    .input {
      margin-left: 90px;
      margin-right: 90px;
    }
  }

  .linkRows {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    padding: 5px 0px;
    text-align: center;
    margin: 0px auto;

    .emailLink {
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      height: 50px;
      width: 320px;
      border-radius: 3px;
      border: none;
      margin: 0px 5px;
      color: $color-white;
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;

      .title {
        flex: 1;
      }

      .titleHotmail {
        flex: 1;
        font-size: 18px;
      }

      .logo {
        width: 30px;
        margin: 0px 15px;
      }

      .logoHotmail {
        width: 30px;
        margin-left: 15px;
        margin-right: 10px;
      }

      .spacerHotmail {
        width: 20px;
      }
    }
    .gmail {
      @extend .emailLink;
      background-color: #cf5d46;
    }
    .yahoo {
      @extend .emailLink;
      background-color: #7b0099;
    }
    .hotmail {
      @extend .emailLink;
      background-color: #287ce8;
    }
    .default {
      @extend .emailLink;
      background-color: #c0defd;
      color: #58595c;
    }
  }
}
