@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content:  flex-start;
  align-items: center;
  -webkit-align-items: center;
  padding: 20px;
  width: 100%;

  form {
    margin-bottom: 35px;
  }

  .forms {
    width: 100%;
  }

  .formDropdown {
    input {
      color: $color-grey-02;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    ul[class*="values"] {
      font-size: 14px;
      li {
        padding: 10px 15px 0px 15px;
      }
      li:last-child {
        padding: 10px 15px 10px 15px;
      }
    }
    div {
      padding-bottom: 4px;
    }
  }

  .formInput {
    input {
      color: $color-grey-02;
      font-size: 14px;
    }
    label {
      font-size: 14px;
    }
    padding-bottom: 3px;
  }

  .note {
    color: $color-grey-02;
    font-size: 12px;
  }
}
