.container {
  padding: $unit;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;

  align-items: center;
  -webkit-align-items: center;
}  

.section {
  margin: $unit * 1.8 0;
}

.username {
  margin: $unit * 1.6 0;
}

.sectionLinks {
  margin: $unit * 1.8 0;
  text-align: center;
}

.links {
  font-size: $unit * 1.4;
  line-height: $unit * 2.3;
}

