@import 'responsive.scss';

.button {
  max-width: 100%;
  min-width: 120px;
}
.neutral:not([disabled]) {
  &.raised {
    background-color: #80C342;
    color: #FFF;
  }
}
.primary:not([disabled]) {
  &.raised {
    color: #FFF;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : $layout-breakpoint-sm) {
  .button{
    max-width: 50%;
  }
}
