@import 'theme/_config.scss';

.container {
  flex: 1;

  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  justify-content: center;
  -webkit-justify-content: center;

  height: 422px;
}

.inputGroup {
  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;

  align-items: center;
  -webkit-align-items: center;

  .inputs {
    width: 80%;
  }
}

.cachedUsers {
  width: 80%;
}

.userListClassName {
  top: 7.5rem !important;
  max-height: 23vh !important;
}


.buttonGroup {
  margin-top: $unit * 0.8;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  alignItems: center;
  -webkit-align-items: center;

  text-align: center;
}

.fieldsView {
  margin: 10px 0px 25px 0px;
  position: relative;
}

.inputFields {
  padding: 1.1 * $unit 0;
}

.forgotPassword {
  font-size: $unit * 1.1;
}

button {
  max-width: 100%;
}

.createNewButton {
  white-space: normal;
  line-height: 2.2rem;
  max-width: 100%;
}

.loginTimeout {
  color: red;
  min-height: 2rem;
  margin-bottom: 2rem;
}

/* Small Devices, Tablets */
@media only screen and (min-width : $layout-breakpoint-sm) {
  max-width: 50%;
}

