.container {
  padding: $unit;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: center;
  -webkit-justify-content: center;

  align-items: center;
  -webkit-align-items: center;
}

.usernameContainer {
  text-align: center;
}

.username {
  margin-right: 1rem;
  position: relative;
  font-size:  $unit * 2.0;
  text-decoration: none;
}

.username:hover {
  text-decoration: none;
}

.username:after {
  position: absolute;
  content:"";
  top: 1.3rem;
  right: -2rem;
  width:0;
  height:0;
  border-right:5px solid transparent;
  border-left:5px solid transparent;
  border-top:5px solid #007AFF;
}

.userListClassName {
  top: 3.5rem !important;
  max-height: 30vh !important;
}

.cachedUsers {
  width: 40%;
}

.inputDiv {
  width: 165px;
}

.inputPin {
 text-align: center;
 height: $unit * 4.5;
}

.exitPin {
  margin: $unit * 2 0;
}


.downArrow{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}