@import "~theme/buttons";
@import "~theme/input";

.red {
  color: #B33A3A;
  font-weight: 700 !important;
}

.green {
  color: #80C342;
  font-weight: 700 !important;
}

.passwordRequirement {
  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  align-items: center;
  -webkit-align-items: center;

  font-size: 14px;
  margin: 0px 0px;
}

.inputPasswordFieldImg {
  font-size: 3 * $unit;
  color: #007AFF;
  width: 30px;
  margin: 0px 15px;
  cursor: pointer;
  float: right;
  position: relative;
  top: -50px;
}

.container {

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  justify-content: flex-start;
  -webkit-justify-content:  flex-start;

  align-items: center;
  -webkit-align-items: center;

  flex: 1;

  height: 280px;

  .header {
    color: #909091;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .main {

    display: flex;
    display: -webkit-flex;

    flex-direction: row;
    -webkit-flex-direction: row;

    justify-content: center;
    -webkit-justify-content:  center;

    align-items: center;
    -webkit-align-items: center;

    .tooltip {
      flex: 1;
      height: 165px;
      width: 286.86px;
      border: 1px solid #D8D6D6;
      transform: rotate(180deg);
      border-radius: 3px;
      background-color: #FFFFFF;
      box-shadow: 0 0 10px 0 #D8D6D6;
    }

    .forms {
      flex: 1;

      display: flex;
      display: -webkit-flex;

      flex-direction: column;
      -webkit-flex-direction: column;
    }
  }
}
