@import "~theme/buttons";
@import "~theme/input";
@import "~theme/loader";

.red {
  color: #B33A3A;
  font-weight: 700 !important;
}

.green {
  color: #80C342;
  font-weight: 700 !important;
}

.passwordRequirement {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  -webkit-align-items: center;
  font-size: 14px;
  margin: 0px 0px;
}

.inputPasswordFieldImg {
  font-size: 3 * $unit;
  color: #007AFF;
  width: 30px;
  margin: 0px 15px;
  cursor: pointer;
  float: right;
  position: relative;
  top: -50px;
}

.container {
  flex: 1;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content:  center;
  align-items: center;
  -webkit-align-items: center;
  padding: 30px 20px 30px 20px;

    .requirements {
      .text {
        font-size: 14px;
        line-height: 14px;
        color: #909091;
        letter-spacing: 0px;
        .bullet {
          font-size: 22px;
          margin: 0px 10px 0px 0px;
        }
        .check {
          color: #7FC343;
          font-size: 13px;

          margin: 2px 7px 0px -3px;
        }
      }

      .textHeader {
        @extend .text;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .crack {
        @extend .text;
        color: #555;
        margin-left: 24px;
        margin-top: 8px;
      }

      .icon {
        @extend .text;
        color: #F03A47;
        vertical-align: bottom;
        margin-right: 10px;
      }

    }

    .formContainer {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;

      .formWithIcon {
        flex: 1;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;

        position: relative;

        .form {
          width: 100%;
        }

        .icon {
          position: absolute;
          right: 0px;
          top: 34px;
          width: 23px;
          height: 23px;
          cursor: pointer;
        }
      }

      .form {
        font-size: 18px;
      }

  }
}
