@import "~theme/buttons";

.header {
  color: #2A5799;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.text {
  color: #58595C;
  font-size: 14px;
  text-align: center;
}

.close {
  @extend .primaryMobile;
  margin-top: 20px;
}

.linked {
  @extend .link;
  font-size: 14px;
}
