@import "~theme/buttons";

.header {
  color: $color-primary-navy;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.text {
  color: $color-grey-01;
  font-size: 14px;
  text-align: center;
}

.close {
  @extend .primaryMobile;
  margin-top: 20px;
}

.linked {
  @extend .link;
  font-size: 14px;
}
